@inherits ComponentBase
<h3>CategoryListComponent</h3>

<table>
    <thead>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
    </tbody>
</table>

@code {

}